body{
    /* background-image: url("clockbackgroung.png"); */
    background-repeat: no-repeat;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    background-size: 100% 100%;
    width: 100%;
    height:80%;
    margin: 0px;
    padding: 0px;
}
 

   .Sign_Up_Contianer{
       width: 100%;
       height: 100%;
       /* border: 1px solid black; */
   }

   .Sign_Up_Navbar{
       display: flex;
       justify-content: space-between;
       margin: 50px 90px;
       
   }
   .Sign_Up_Login{
       color:  #03a9f4;
       background-color: transparent;
       font-family: 'Roboto', sans-serif;
       font-size: 20px;
       position: relative;
       /* border: 1px solid #333; */
   }
   .Sign_Up_GetStarted{
       text-align: center;
       margin-top: -20px;
       /* border: 1px solid black; */
   }
   .Sign_Up_GetStarted_Get
   {
       color: #333;
       font-size: 32px;
       font-family: 'Roboto',sans-serif;
       line-height: -0.5px;

   }
   .Sign_Up_GetStarted_Create{
    color: #666;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    line-height: -0.5px;
    
   }

   .SIgn_Up_GetStarted_Credit{
       color: #999;
       font-size: 11px;
       margin-bottom: 20px;
   }
   .Sign_Up_Form{
       width: 23%;
       height: 410px;
       background-color: #FFFFFF;
       justify-content: center;
       display: block;       
       align-content: center;
       margin: auto;
       padding: 30px;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
       border-radius: 2px;
   }
   .Sign_Up_Form_SignUp
   {
       color: #333;
       font-size: 18px;
       font-family: 'Roboto',sans-serif;
       margin: 0px 15px 15px;
   }
#name{
       background-color: #FFFFFF;
       padding:10px;
       width: 90%;
       height: 20px;
       margin: 10px 0px;
       border: 1px solid #c6d2d9;
       border-radius: 2px;
       color: #333;
       background-clip: padding-box;
       font-size: 14px;
   }


   #email{
       background-color: #FFFFFF;
       padding:10px;
       width: 90%;
       height: 20px;
       margin: 10px 0px;
       border: 1px solid #c6d2d9;
       border-radius: 2px;
       color: #333;
       background-clip: padding-box;
       font-size: 14px;
   }
   input[type=text]:focus {
    border: 1px solid #c6d2d9;
}
   #password{
    background-color: #FFFFFF;
    padding:10px;
    width: 90%;
    height: 20px;
    margin: 10px 0px;
    border: 1px solid #c6d2d9;
    border-radius: 2px;
    color: #333;
    background-clip: padding-box;
    font-size: 14px;
   }
   .Sign_Up_Terms{
       padding: 0px 0px 0px 0px;
       font-size: 14px;
   }
   #Sign_Up_Checkbox{
       background-color: #FFFFFF;
       box-shadow: 0px 0px 20px rgba(0,0,0,.1);
       box-sizing: border-box;
       height: 15px;
       width: 20px;
   }
   .Sign_Up_Checkmark{
    background-color: #eee;
    
   }
   .Sign_Up_Checkmark input:checked ~ .Sign_Up_Checkmark {
    background-color:  #03a9f4;
  }
  .Sign_Up_Terms a{
      text-decoration: none;
      color: #03a9f4;
      font-family: 'Roboto', sans-serif;
  }
  .Sign_UP_Create_Button,.loginCard__googleBtn{
      color: #FFFFFF;
      font-size: 14px;
      font-family: 'Roboto',sans-serif;
      background-color: #03a9f4;
      padding: 12px 15px;
      width: 95%;
      border-radius: 2px;
      border: none;
      margin-top: 10px;
  }
  .Sign_Up_error{
      display: none;
  }
  /* .Sign_Up_error_msg{
    display: block;
  } */
  .underline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    /* background-color: #999;
    height: 2px; */
}
.underline div{
    width: 42%;
    height: 1px;
    background-color: #999;
    font-family: 'Roboto', sans-serif;
}

.loginCard__googleBtn:hover {
    background-color: gray;
}
.Sign_UP_Create_Button:hover {
    background-color: gray;
}

.loginCard__googleBtn span {
    margin-left: 30px;
}

.loginCard__googleBtn img {
    margin-left: -40px;
}
.Sign_Up_Privacy{
    text-align: center;
    width: 25%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.Sign_Up_Privacy_img{
    width: 3%;
    height: 12px;
    margin-top: 5px;    
    align-items: baseline;
    justify-content: baseline;
    font-family: 'Roboto', sans-serif;
}
.Sign_Up_Privacy_Span{
    font-size: 11px;
    color: #333;
    font-family: 'Roboto',sans-serif;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}
.Sign_Up_Privacy a{
    text-decoration: none;
    color: #03a9f4;
    font-size: 11px;
    margin: 0px 5px 1px 0px;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 600px) {
    .Sign_Up_Contianer{
        min-width:100%;   
        font-family: 'Roboto', sans-serif;
       max-width: 100%;
    }   
    .Sign_Up_GetStarted{
        min-width: 50%;
        max-width: 100%;
        font-family: 'Roboto', sans-serif;
    }
    .Sign_Up_Google
    {
        min-width: 50%;
        max-width: 100%;
        height: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .Sign_Up_Google_Continue{
        font-size: 10px;
        font-family: 'Roboto', sans-serif;
    }
    .Sign_Up_Login{
        font-family: 'Roboto', sans-serif;
        text-align: right;
    }
    .Sign_Up_Form{
        min-width: 50%;
        max-width: 100%;
        font-family: 'Roboto', sans-serif;
        height: 350px;
    }
    .Sign_Up_Google img{
        width: 10%;
        height: 20px;
        margin-top: 5px;
        margin-left: 0px;
        font-family: 'Roboto', sans-serif;
    }
}
@media only screen and (max-width: 750px) {
    .Sign_Up_Contianer{
        min-width:100%;   
       max-width: 100%;
       font-family: 'Roboto', sans-serif;
    }   
    .Sign_Up_GetStarted{
        min-width: 50%;
        max-width: 100%;
        font-family: 'Roboto', sans-serif;
    }
    .Sign_Up_Google
    {
        min-width: 50%;
        max-width: 100%;
        height: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .Sign_Up_Google_Continue{
        font-size: 10px;
        font-family: 'Roboto', sans-serif;
    }
    .Sign_Up_Login{
        font-family: 'Roboto', sans-serif;
        text-align: right;
    }
    .Sign_Up_Form{
        min-width: 50%;
        max-width: 100%;
        height: 350px;
        font-family: 'Roboto', sans-serif;
    }
    .Sign_Up_Google img{
        width: 10%;
        font-family: 'Roboto', sans-serif;
        height: 20px;
        margin-top: 5px;
        margin-left: 0px;
    }
}
#logo{
    width: 200px;
    margin-top: -70px;
    margin-left: -90px;
}

.container__loginCard{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

input, label{
    margin: 5px;
    font-size: 15px;

}
input{
    height: 30px;
    border-radius: 10px;
    border-color: gray;
}
input:hover{
    background-color:#219de460 ;
}
#fbtn{
    display: flex;
    flex-direction: row-reverse;
}
button{
    font-size: 16px;
    border: none;
    border-radius: 10px;
    border-color: gray;
}
.container__loginCard>h2{
    text-align: center;
    text-decoration: underline;
}
